version: '3.7'

services:
  # Backend Service
  backend:
    build:
      context: ./backend 
    ports:
      - "8080:8080"  
    environment:
      - API_KEY=d5fac93e06b1cbad8673bed78b05e46d
    networks:
      - app-network  # Assign to the app network
  
  # Frontend Service
  frontend:
    build:
      context: ./frontend  
    ports:
      - "80:80"  
    depends_on:
      - backend  # Ensures the backend service starts before the frontend
    networks:
      - app-network  # Assign to the app network

# Define the network 
networks:
  app-network:
    driver: bridge
